:root {
    --deep-black: #000000;
    --neon-lime: #CCFF00;
    --dark-grey: #1A1A1A;
    --white: #FFFFFF;
    --muted-grey: #888888;
    --neon-glow: rgba(204, 255, 0, 0.4);
    --input-bg: #0a0a0a;
}

/* RESET */
body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(-45deg, #000000, #1a1a1a, #0a0a0a);
}

/* ANA YAPI */
.container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: var(--dark-grey);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* KAPALI HAL */
.sidebar.closed {
    width: 70px;
}

/* BUTON */
#menuBtn {
    width: 50px;
    height: 50px;
    margin: 10px;
    background: var(--deep-black);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* MENÜ */
.menu {
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background: var(--dark-grey);
}

/* TEXT GİZLE */
.sidebar.closed .menu a span {
    display: none;
}

/* CONTENT */
.content {
    flex: 1;
}

/* iframe FULL */
.content iframe {
    width: 100%;
    height: 100vh;
    border: none;
}