:root {
    --deep-black: #000000;
    --neon-lime: #CCFF00;
    --dark-grey: #1A1A1A;
    --white: #FFFFFF;
    --neon-glow: rgba(204, 255, 0, 0.4);
    --Transparent: #00000000;
}
body {
    background: linear-gradient(to left, #000000, #121212, #000000);
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
    /* Ortalamayı sağlayan kısım */
    display: flex;
    align-items: center;      /* Dikeyde ortalar */
    justify-content: center;   /* Yatayda ortalar */
    min-height: 100vh;        /* Ekran yüksekliğinin %100'ünü kullanır */
}
:root {
    --deep-black: #000000;
    --neon-lime: #CCFF00;
    --dark-grey: #1A1A1A;
    --white: #FFFFFF;
    --neon-glow: rgba(204, 255, 0, 0.4);
}

/* Container varsayılan hali */
.container {
    width: 50%;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 150px;
    
    /* Hover geçişinin yumuşak olması için buraya ekledik */
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent; /* Kenarlığın kaymaması için başlangıçta şeffaf border */
}

/* Hover (Üzerine Gelindiğinde) */
.container:hover {
    border-radius: 2px;
    border-color: var(--neon-lime);
    /* Neon ışıltısı efekti */
    box-shadow: 0 0 15px var(--neon-glow);
    transform: translateY(-5px); /* Hafif yukarı kalkma efekti (isteğe bağlı) */
}

/* Form geçişi */
.form {
    background-color: var(--deep-black);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    transition: 0.3s;
}